body{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
   margin: 0px;
}

header{
   display: flex;
   background-color: dimgray;
   padding: 15px;
   justify-content: space-between;
}

article {
   display: inline-grid;
   grid-template-columns: 800px 100px 800px;
}

html{
   background-color: rgb(49, 49, 49);
}

#img{
   margin: 0px 50px 0px 10px;
}

article h3{
   background-color: dodgerblue;
   padding: 5px;
   color: black;
}

article h3:hover{
   background-color: black;
   color: dodgerblue;
}

article ul, #HeaderSection1 div{
   vertical-align: top;
}

header div{
   display: inline-block;
}

.Year{
   color: dodgerblue;
}

#AboutMe ul{
   list-style: none;
}

#ArtSection1 {
   grid-column-start: 1;
}

#ArtSection2 {
   grid-column-start: 3;
}

#ArtSection2 li{
   list-style: square;
}

#ArtSection2 li ul li{
   list-style: circle;
}

h1, h2, h3, h4{
   color: white;
}

p, a{
   color: rgb(204, 204, 204);
}

a {
   text-decoration: none;
}

a:hover {
   color: dodgerblue;
   text-decoration: none;
}
